# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1301781981:AAGb2NngTvx_sd76flP9RDs4x1KnS9MfSj8"
GDRIVE_FOLDER_ID = "1jZD6P0cCCu06y4mz0Gy3fHwMR2DKKPLA"
TELEGRAPH_TOKEN = ""
OWNER_ID = 999162609
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
USER_SESSION_STRING = "AQBrD0CY6KnvndzSxaDBu6JMP9kLFHeu7YhOepErYMYfx1N8IRYhGQxN7AbHy28_qu8JEuwuz8tZaSkiPg6WhKOt-l9pa6KgALTuqaEMiF-a4qdmuektxXsLX1O4wjCs3TcOiu6qyoeP4LulIJrgz0y41Ab1OANvxaqRy6y_NahWNy9se98rvT0y5gbN7HSS5PG3NNVJNXmjKhJYu9qGQuF4in05WnyQNjP8ogKknCaOfq-NhB5RpgigsyH0n90UgsEQFEfRe9zde4T_7kUnEhUdWCxPoT9QIKQGEbYJ0VphmehALatjHalNf97lPImCzyGP6wvxzLci9x6MWvcZCNOnO44C8QA"
TELEGRAM_API = 1711488
TELEGRAM_HASH = "707667e743148abde192655aa64d21f6"
USE_SERVICE_ACCOUNTS = ""
# Optional config
INDEX_URL = ""
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
